html {
    color: #222;
    font-size: 1rem;
    line-height: 1.4;
}

body {
    background-color: #7FB069;
    min-width: 250px;
    /* background-image: url("/images/background-stock-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
}

/* MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
Mobile First
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM */

/* =========================== General Styles =============================== */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    color: #473144;
    background-color: #7FB069;
    font-family: quicksand, sans-serif;
    padding-top: 100px;
}

h1 {
    font-family: quicksand, sans-serif;
    font-size: 1.5em;
    padding-left: 30px;
    /* background-color: #7FB069; */
}

#dishes-icon {
    width: auto;
    height: 20px;
    color: #8C1C13;
    margin-right: 30px;
    filter: drop-shadow(0px 3px 2px gray);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
    /* background-color: ; */
}

.nav-button {
    filter: drop-shadow(0px 3px 2px gray);
}

#week-display {
    padding: 20px 30px 30px 30px;
    position: relative;
    /* background-color: #7FB069; */

}

/* This block sets the background image behind the other content and allows 
using the opacity property without making other elements opaque also.
The position: absolute used in combination with position:relative of the 
elements on top of the background image is key. */
#week-display:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    background-image: url("/images/background-stock-photo.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: 1;
}

.calendar-day {
    position: relative;
    border-radius: 5px;
    background-color: #E7D7C1;
    color: #473144;
    height: 160px;
    margin-bottom: 20px;
    z-index: 2;
}

.calendar-day-header {
    display: flex;
    justify-content: space-between;
    font-family: quicksand, sans-serif;
    color: #473144;
    padding-top: 10px;
    margin: 0px 10px;
    border-bottom: solid #473144 1px;
}

.week-day {
    font-weight: bold;
}

.food-area {
    font-family: quicksand, sans-serif;
    color: #473144;
    min-height: 120px;
    margin: 10px;
}

.dish-name {
    font-weight: bold;
}

.ingredients {
    text-indent: -10px;
    padding-left: 10px;
}

button {
    outline: none;
    background-color: #BF4342;
    width: 48%;
    height: 50px;
    border-radius: 5px;
    font-family: quicksand, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
}

button:hover {
    font-weight: 700;
    cursor: pointer;
}

/* =========================== Modal Styles =============================== */


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #7FB069;
    height: auto;
    width: 500px;
    font-family: quicksand, sans-serif;
    color: #473144;
    font-size: 1.2em;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-date {
    padding: 40px 30px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-allergy-checkbox {
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
}

.close-button,
.close-button-employee {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.75rem;
    font-weight: bold;
    width: 50px;
    height: 1.2em;
    color: #473144;
    padding-bottom: 20px;
    padding-right: 13px;

}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
    z-index: 5;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 150px;
}

.modal-header h1 {
    font-size: 1.2em;
    padding-left: 30px;
    padding-bottom: 20px;
}

.modal-body {
    background-color: #E7D7C1;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#menu-btn {
    background-color: #BF4342;
    width: auto;
    margin: 10px 30px 30px 30px;
    padding: 10px 0px;
    height: 1.5em;
    /* #calendar-entry:invalid::{color red}
    #calendar-entry:valid::{color #044F95} */
}

.employee-modal-section-title {
    margin: 10px 20px 0px 30px;
    border-bottom: solid #473144 1px;
}

#allergies-btn {
    margin: 10px 30px 30px 30px;
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
    /* TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
    Style adjustments for tablets 
    TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT */

    nav {
        width: 50%;
        /* background-color: #7FB069; */
    }

    button {
        background-color: #BF4342;
        font-size: 1.3em;

    }

    #week-display {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 70px;
    }

    .calendar-day {
        width: 48%;
        height: 200px;
        margin-bottom: 30px;
    }

    .calendar-day-header {
        font-size: 1.3em;
    }


}







@media only screen and (min-width: 1200px) {
    /* DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD
    Style adjustments for desktops
    DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD */

    button {
        font-size: 1.6em;
    }

    .calendar-day {
        width: 30%;
    }

    .calendar-day-header {
        font-size: 1.6em;
    }

    .food-area {
        font-size: 1.4em;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}


/*
  * Hide visually and from screen readers, but maintain layout
  */

.invisible {
    visibility: hidden;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

img {
    page-break-inside: avoid;
}